<?xml version="1.0" encoding="UTF-8" ?> 
 <Module>
  <ModulePrefs title="menu findings">
  <Require feature="dynamic-height"/>   
	<Require feature="setprefs" />  
  </ModulePrefs> 
 <Content type="html">
 <![CDATA[ 
 <link rel="stylesheet" type="text/css" href="http://bbvaportaldeayuda.googlecode.com/svn/trunk/styles.css" media="all">
  <style> 
  /* @group fonts */
@font-face {
	font-family: 'BBVA Web Light';
	src:url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/web-light/web-light.eot');
	src:url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/web-light/web-light.eot?iefix') format("embedded-opentype"),
		url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/web-light/web-light.woff') format("woff"),
		url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/web-light/web-light.ttf') format("truetype"),
		url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/web-light/web-light.svg#BBVA Web Light') format("svg");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'BBVA Web Book';
	src:url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/web-book/web-book.eot');
	src:url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/web-book/web-book.eot?iefix') format("embedded-opentype"),
		url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/web-book/web-book.woff') format("woff"),
		url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/web-book/web-book.ttf') format("truetype"),
		url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/web-book/web-book.svg#BBVA Web Book') format("svg");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'BBVA Web Medium';
	src:url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/web-medium/web-medium.eot');
	src:url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/web-medium/web-medium.eot?iefix') format("embedded-opentype"),
		url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/web-medium/web-medium.woff') format("woff"),
		url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/web-medium/web-medium.ttf') format("truetype"),
		url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/web-medium/web-medium.svg#BBVA Web Medium') format("svg");
	font-style: normal;
	font-weight: normal;
}


@font-face {
	font-family: 'BBVA Office Light';
	src:url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/office-light/office-light.eot');
	src:url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/office-light/office-light.eot?iefix') format("embedded-opentype"),
		url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/office-light/office-light.woff') format("woff"),
		url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/office-light/office-light.ttf') format("truetype"),
		url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/office-light/office-light.svg#BBVA Office Light') format("svg");
	font-style: normal;
	font-weight: normal;
}



@font-face {
	font-family: 'BBVA Office Book';
	src:url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/office-book/office-book.eot');
	src:url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/office-book/office-book.eot?iefix') format("embedded-opentype"),
		url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/office-book/office-book.ttf') format("truetype"),
		url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/office-book/office-book.woff') format("woff"),
		url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/office-book/office-book.svg#BBVA Office Book') format("svg");
	font-style: normal;
	font-weight: normal;
}

/*
@font-face {
	font-family: 'BBVA Office Book';
    src: url('GrutchShaded-webfont.eot');
    src: url('GrutchShaded-webfont.eot?#iefix') format('embedded-opentype'),
         url('GrutchShaded-webfont.woff') format('woff'),
         url('GrutchShaded-webfont.ttf') format('truetype'),
         url('GrutchShaded-webfont.svg#BBVA Office Book') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
	font-family: 'Stag Light';
	src:url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/stag-light/stag-light.eot');
	src:url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/stag-light/stag-light.eot?iefix') format("embedded-opentype"),
		url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/stag-light/stag-light.woff') format("woff"),
		url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/stag-light/stag-light.ttf') format("truetype"),
		url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/stag-light/stag-light.svg#Stag Light') format("svg");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Stag';
	src:url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/stag/stag.eot');
	src:url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/stag/stag.eot?#iefix') format("embedded-opentype"),
		url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/stag/stag.woff') format("woff"),
		url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/stag/stag.ttf') format("truetype"),
		url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/stag/stag.svg#Stag') format("svg");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Stag Medium';
	src:url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/stag-medium/stag-medium.eot');
	src:url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/stag-medium/stag-medium.eot?iefix') format("embedded-opentype"),
		url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/stag-medium/stag-medium.woff') format("woff"),
		url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/stag-medium/stag-medium.ttf') format("truetype"),
		url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/fonts/stag-medium/stag-medium.svg#Stag Medium') format("svg");
	font-style: normal;
	font-weight: normal;
}

/* @end */

body, html {
	font-size: 125%;
	background-color: rgb(255, 255, 255);
}
body {
	font-size: 0.5em;
	font-family: Arial,sans-serif;
	color: rgb(0, 76, 153);
	text-align: left;
	line-height: 1;
}
ol, ul {
	list-style: none outside none;
}

.cabeceramenu {
	width: 91em;
	height: 5.1em;
	margin-top: 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #0079c1;
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNzljMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDUyOWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+');
	background: -moz-linear-gradient(top,  #0079c1 0%, #00529b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0079c1), color-stop(100%,#00529b));
	background: -webkit-linear-gradient(top,  #0079c1 0%,#00529b 100%);
	background: -o-linear-gradient(top,  #0079c1 0%,#00529b 100%);
	background: -ms-linear-gradient(top,  #0079c1 0%,#00529b 100%);
	background: linear-gradient(to bottom,  #0079c1 0%,#00529b 100%);
	/*
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0079c1', endColorstr='#00529b',GradientType=0 );
	*/
	position: relative;
	font-family: BBVA Web Medium;
	font-weight: normal;
	text-align: center;
}
.cabeceramenu ul{
  margin:0;
  padding:0;
}
.cabeceramenu ul li.homefirst,
.cabeceramenu ul li.iniciate,
.cabeceramenu ul li.apps,
.cabeceramenu ul li.movilidad{
  float: left;
  text-align: center;
  background: url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/img/separador-menu.png') no-repeat scroll right top transparent;

}

.cabeceramenu ul li.exito { 
  float: left;
  text-align: center;
  background:none;
}
.cabeceramenu ul li.exito span:hover { 
	border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.cabeceramenu ul li .enlace, 
.cabeceramenu ul li .enlace:hover{
  font-size: 1.4em;
  margin-right: 0.071em;
  display: block;
  color: #FFF;
  cursor: pointer;
  height: 3.571em;

}
.cabeceramenu ul li .enlace:hover{
  background-color: #004c99;
}


.cabeceramenu ul li a, 
.cabeceramenu ul li a:hover{
  color: #FFF;
  cursor: pointer;
  text-decoration:none;
  font-family: BBVA Web Medium;
  font-size:14px;
  font-style:normal;
  
}


.cabeceramenu ul li.home {
	width: 81px;
}
.cabeceramenu ul li .enlace span{
	padding-top: 1.286em;
	display: inline-block;
	height: 2em;
}
.cabeceramenu ul li .enlace span img{
margin-top:-19px;
}
.cabeceramenu ul li.iniciate, 
.cabeceramenu ul li.apps, 
.cabeceramenu ul li.movilidad,
.cabeceramenu ul li.exito {
	width: 207px;
}

.cabeceramenu  ul li.homefirst {
	width: 81px;
}
.cabeceramenu ul li.homefirst span:hover{
	border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.cabeceramenu  ul li.homefirst span{
	background: url('http://bbvaportaldeayuda.googlecode.com/svn/trunk/img/ico-spritegraficos24.png') no-repeat scroll 28px -3150px;
	
}



</style>



<div class="cabeceramenu">
  <ul> 
  
	<li class="homefirst"><span class="enlace" tabindex="0"><span><a href="https://sites.google.com/a/bbva.com/portaldeayuda/"  target="_parent"  title="home"></a></span></span></li>
	<li class="iniciate" ><span class="enlace" tabindex="0"><span><a href=""  target="_parent">Iníciate en tu NET</a></span></span></li>
	<li class="apps"><span class="enlace" tabindex="0"><span><a href=""  target="_parent">Google Apps</a></span></span></li>
	<li class="movilidad"><span class="enlace" tabindex="0"><span><a href=""  target="_parent">Movilidad</a></span></span></li> 
	<li class="exito"><span class="enlace" tabindex="0"><span><a href=""  target="_parent" >Casos de &eacute;xito</a></span></span></li> 
  </ul>    
</div>
	<!-- Elemento de menú set visited -->
	<script type="text/javascript">
	gadgets.util.registerOnLoadHandler(datospagina);
	function datospagina()
	{   
	   
		var parametros = gadgets.util.getUrlParameters()["parent"];	
		/*if (parametros.indexOf("home")!=-1)
		{   
			document.getElementsByClassName("homefirst")[0].style.backgroundColor = "#004C99";
			document.getElementsByClassName("homefirst")[0].style.border = "1px solid #004C99";
			
		
			
		}*/
		
	}
	</script>

  ]]> 
  </Content>
  </Module>