html { margin:0; padding:0; height:100%; 

background-image:url(../img/fondo.jpg);
	background-position:bottom center;
	background-repeat:repeat-x;

}



body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 75%;
	color: #666666;
	overflow:hidden;
	height:100%;
	
	
}

#contenedor_ppal{
	border-top:1px solid #fff; 
	height:100%;
	background-image:url(../img/bg.gif);
	background-position:top left;
	background-repeat:no-repeat;
}

#contenido {
	
	margin:0; 
	padding:0; 
	display:block; 
	width:100%; 
}

#encabezado_top{
	height:75px;
}

#progreso{
	width:155px;
	float:right;
	margin-top:5px;
	margin-left:0px;
	font-size:11px;
}

	.txt_prog{
	float:left;
	}

	#barra_progreso{
		width:100px;
		border:1px solid #015196;
		background-color:#015196;
		height:10px;
		float:left;
		background-image:url(../img/barra_progreso.gif);
		background-repeat:no-repeat;
		background-position:0px;
		padding:0px;
		font-size:1px;
	}

	#porcentaje_progreso{
		float:left;
		margin-left:5px;
	}
#iconos{
	width:170px;
	float:right;
	margin-top:5px;
}

 #iconos a{
 	display:block;
	text-align:center;
	background-position:left top;
	background-repeat:no-repeat;
	text-decoration:none;
	color:#999999;
	height:35px;
	float:left;
	width:30px;
	margin-right:10px;
	border-bottom:2px solid #FFF;
 }
 
 #iconos a:hover{
	text-decoration:underline;
	color:#000000;
	border-bottom:2px solid #0066CC;
	background-position:right top;
 }


	a.ico_indice{
		background-image:url(../img/indice.gif);
	}
	
	a.ico_ayuda{
		background-image:url(../img/ayuda.gif);
	}
	
	a.ico_imprimir{
		background-image:url(../img/imprimir.gif);
	}
	
	a.ico_salir{
		background-image:url(../img/cerrar.gif);
	}
	

#titulos{

float:left; 

}

#titulo_curso{
	font-size:130%;
	margin-left:135px;
	margin-top:11px;
	font-weight:bold;
	color:#ada5a2;
	width:400px;
	display:block;
}

#titulo_modulo{
	font-size:110%;
	margin-left:135px;
	color:#ada5a2;
	width:350px;
}

#titulo_pagina{
	font-size:190%;
	margin-left:43px;
	margin-top:7px;
	color:#0e93d6;
	width:550px;
}

#nav{
position:absolute;
bottom:0px;
right:0px;
background-color:#FFFFFF;
border-top:1px solid #006fc1;
border-left:1px solid #006fc1;
padding:5px;
padding-bottom:0px;
height:28px;
width:100px;
z-index:1;

}

	a.izqa {
		width:24px;
		height:24px;
		background-image:url(../img/izq.gif);
		background-repeat:no-repeat;
		background-position:top;
		cursor:pointer;
		display:block;
		float:left;
		border:none;
	}
	a.izqa:hover{
		background-position:0px -24px;
	}
	
	a.izqd {
		width:24px;
		height:24px;
		background-image:url(../img/izq.gif);
		background-repeat:no-repeat;
		background-position:bottom;
		cursor:default;
		display:block;
		float:left;
	}
	
	a.dera{
		width:24px;
		height:24px;
		background-image:url(../img/der.gif);
		background-repeat:no-repeat;
		background-position:0px 0px;
		display:block;
		float:right;
		border:none;
	}
	
	a.dera:hover{
		background-position:0px -24px;
	}
	
	a.derd{
		width:24px;
		height:24px;
		background-image:url(../img/der.gif);
		background-repeat:no-repeat;
		background-position:bottom;
		cursor:default;
		display:block;
		float:right;
	}
	
	#paginador{
		width:50px;
		float:left;
		text-align:center;
		font-weight:bold;
		margin-top:3px;
		font-size:14px;
		color:#003F8D;
	}



.clearer{
	clear:both;
}